.alert p {
  margin-bottom: 0!important;
}

body {
  /*background: #000428;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428);*/
  background-color: #7d0633;
  background-color: #cf1b1b;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inputc{
  background-color: red;
}

.button-primary{
  background-color: #1b1b2f!important;
  color: white!important;
  font-size: 16px;
  border: 0px solid;
  border-color: #1b1b2f!important;
}

header {
  margin: 30px 0;
}
.contenido {
  padding:20px;
}
.contenido-principal {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}
.presupuesto p{
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Lobster', cursive;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 8rem!important;
  font-weight: 300;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:black;
  font-weight: 700;
  margin-bottom:30px;
  font-size:3rem!important;
  text-align: center;
}
.campo {
  margin-bottom: 2rem;
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-primary {
  color: #000000;
  background-color: #87dfd6;
  border-color: #87dfd6;
}
.alert-success {
  color: #000000;;
  background-color: #a8df65;
  border-color: #a8df65;
}
.alert-danger {
  color: #000000;
  background-color: #f19292;
  border-color: #f19292;
}
.alert-warning {
  background-color: #f9d56e;
  border-color: #f9d56e;
  color: #000000;
}
.gastos-realizados  {
  margin-bottom: 2rem;
}
.gastos-realizados li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.gastos-realizados li:last-of-type {
  margin-bottom: 0!important;
}
.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  
}
.gastos-realizados li p .gasto {
  background-color: #c3aed6;
  padding: 0.6rem;
  /* border: 1px solid black; */
  border-radius: 10%;
  color:black;
}